.st-emotion-cache-ocqkz7.e1f1d6gn5{
    background-color: rgb(230, 235, 239);
    box-shadow: 2px 2px 7px rgb(143, 137, 137);
    text-align: center;
    padding:2% 1%;
    border-radius: 7px;
}

.st-emotion-cache-ue6h4q.e1y5xkzn3{
    justify-content: center;
    padding: 2%;
}

.st-emotion-cache-12w0qpk.e1f1d6gn3{
    border: 1px solid rgb(236, 231, 231);
    border-radius: 7px;
    box-shadow: 2px 2px 5px gray;
}

.st-emotion-cache-1l269bu.e1f1d6gn3{
    border: 1px solid rgb(236, 231, 231);
    border-radius: 7px;
    box-shadow: 2px 2px 5px gray;
}

.st-emotion-cache-1r6slb0.e1f1d6gn3{
    border: 1px solid rgb(236, 231, 231);
    border-radius: 7px;
    box-shadow: 2px 2px 5px gray;
}